<div class="container">
    <div class="row">
        <h1>Register</h1>
        <form>
            <label>
                Username
                <input [(ngModel)]="user" type="text" name="name">
            </label>
            <label>
                Password
                <input [(ngModel)]="password" type="password" name="name">
            </label>
        </form>
        <button (click)="registration()">Registration</button>
        <a routerLink="/login" routerLinkActive="active">go to login page</a>
        <!-- <a routerLink="/profile" routerLinkActive="active">Navigate to Profile</a> -->
    </div>
</div>