<div class="container containerasd">
    <div class="row rowasd">
        <h1>Login</h1>
        <label>
            Username
            <input [(ngModel)]="user" type="text" name="name">
        </label>
        <label>
            Password
            <input [(ngModel)]="password" type="password" name="name">
        </label>
        <button (click)="login()">Login</button>
        <a routerLink="/register" routerLinkActive="active">go to register page</a>
        <!-- <a routerLink="/profile" routerLinkActive="active">Navigate to Profile</a> -->
    </div>
</div>